.cart_header {
    background-color: var(--greyLite);
    padding: 22px 0px;
    display: grid;
    grid-template-columns: 1fr repeat(2, 3fr) repeat(2, 1.5fr) 0.2fr;
    column-gap: 30px;
    place-items: center;
    &__title {
        grid-column: 2/3;
    }
    &__optin {
        grid-column: 3/4;
    }
    &__count {
        grid-column: 4/5;
    }
    &__cost {
        grid-column: 5/6;
    }

    @media (max-width: 758px) {
        height: 1px;
        padding: 0;
        & > * {
            display: none;
        }
    }
}