.cart_header {
    background-color: var(--greyLite);
    padding: 22px 0px;
    display: grid;
    grid-template-columns: 2fr repeat(3, 3fr) 1fr;
    column-gap: 30px;
    place-items: center;
    &__title {
        grid-column: 2/3;
    }
    &__count {
        grid-column: 3/4;
    }
    &__cost {
        grid-column: 4/5;
    }

    @media (max-width: 758px) {
        height: 1px;
        padding: 0;
        & > * {
            display: none;
        }
    }
}