@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
   --accent: rgb(253, 139, 146);
   --greyDark: rgb(108, 108, 108);
   --grey: rgb(228, 228, 228);
   --greyLite: rgb(240, 240, 240);
   --black:rgba(0, 0, 0, 1);
   --white:rgba(255, 255, 255, 1);
   --placeholder: rgba(137, 137, 137, 1);
}

.container {
  max-width: max(90%, 1300px);
  margin: 0 auto;
  box-sizing: border-box;
 //padding: clamp(10px, 10%, 20px);
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--black);
  overflow-x: hidden;
  font-size: clamp(14px, 2vw,16px);
}

h1 {
  font-size: clamp(36px, 5vw, 64px);
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 0%;
}

h2 {
  font-size: clamp(30px, 4vw, 38px);
  line-height: 100%;
  font-weight: 500;
  letter-spacing: 0%;
  width: fit-content;
}

h3 {
  font-size: clamp(24px, 3vw, 30px);
  line-height: 100%;
  font-weight: 500;
  letter-spacing: 0%;
}

h4 {
  font-size: clamp(16px, 3vw, 20px);
  line-height: 100%;
  font-weight: 500;
  letter-spacing: 0%;
  width: fit-content;
}

p {
  font-size: clamp(14px, 2vw,16px);
  line-height: 100%;
  font-weight: 400;
  letter-spacing: 0%;
  color:var(--greyDark);
}

a {
  color: var(--black);
}

html {
  scroll-behavior: smooth; 
}

